<p>hi,<p>
<p>This is {{month}} Jyaasa newsletter</p>

<p>Blog post from http://jyaasa.com/blogs/</p>
<ul>
  {% for post in posts %}
    <li>
      <p>{{post[0]}}</p>
      {% if post[1] != "" %} <p><a href={{post[1]}}>{{post[1]}}</a></p> {% endif %}
      <p>{{post[2]}}</p>
    </li>
  {% endfor %}
</ul>